@import "themeColor";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  line-height: 1.5;
  color: #323232;
}

body {
  font-size: 14px;
}

body * {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  //color: #323232;
  cursor: pointer;
  text-decoration: none;
}

/*去除a点击之后的背景*/
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*清楚浮动*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

input, button {
  border: none;
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

/*省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

/*环绕*/
.flex-between {
  display: flex;
  justify-content: space-between;
}

/*============ 公共部分  开始 ============*/

/*公共头部*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*element*/
//.el-button--small {
//  font-size: 14px;
//  & > i {
//    font-size: 18px;
//  }
//}
//
//.el-button {
//  & i {
//    font-size: 14px;
//  }
//}

.el-dialog {
  border-radius: 6px;
}
.el-date-editor .el-range-separator {
  padding: 0;
}




//通用content头部
.public-header{
  background-color: #fff;
  width: 100%;
  padding: 20px;
  font-size: 18px;
}
.public-main{
  width: calc( 100% - 40px );
  padding: 20px;
  margin: 20px auto;
  height: 100%;
  //border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 6px;
}
.public-form{
  margin-bottom: 20px;
  > div{
    margin-right: 14px;
  }
}
.public-table {
  border-radius: 6px;
  margin: 20px 0;
  thead{
    color:#000;
  }
  thead tr:first-child {
    th {
      background-color: $color-thBG;
      padding: 7px 0;
    }
  }
  td {
    padding: 6px 0;
  }

}
.btn-public {
  letter-spacing: 1.5px;
  background-color: $color-MediumBlue;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  color: #fff;
  border: 0;
  &:hover,
  &:focus {
    color: #fff;
    border-color: #1c78f4;
    background-color: #1c78f4;
  }
}